

/* --------------------------------Cabeçalho--------------------------------*/

.header-main{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 11px;
    opacity: 50%;
    border-bottom: 1px solid rgba(255, 0, 0, 0.541);
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 8px;
}

.p-itens-header-main{
    padding-top: 8px;
}



/* --------------------------------List---------------------------------*/

.releases-main{
    display: flex;
    height: 100%;
    overflow-y: scroll;
}

.list-releases-main{
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 10px;
    width: 100%;
    
    
}

.li-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    /*------------*/
    
    background: transparent;
    border-bottom: 1px solid #b12020;
    border-radius: 10px;
    margin-bottom: 8px;
    font-size: 10px;
}

.li-container-item{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    margin-right: 2.8vw;/*Retirar*/
}

.type-span-li-container{
    margin-right: 6.5vw;
    
}

.type-span-li-container p{
    padding: 0.3vw;
    opacity: 60%;
    border-radius: 10px;
    
}

.date-span-li-container{
    margin-right: 6.5vw;
    margin-left: 1vw;
}
 
.name-span-li-container{
    margin-right: 10vw;
    margin-left: -9vw;
}

.btn-span-li-container{
   display: flex;
   justify-content: flex-start;
}

.img-trash {
    width: 2vw;
    height: 4vh;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0%;
}


.li-container:hover .img-trash{
    opacity: 100%;
    background-color: transparent;
    border-color: 3px solid #ff0000;
    box-shadow: 2px 2px 2px rgba(255, 0.5, 0.5, 0.5), 2px 2px 2px rgba(252, 0.5, 0.5, 0.5);
}


/* --------------------------------Bottton---------------------------------*/
.footer-main{
    display: flex;
    justify-content: space-between;
    /* background: red; */
    border-top: 1px solid rgba(255, 0, 0, 0.541);
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 8px;
    
}

.div-p-footer-main{
    display: flex;
    align-items: center;
    /* background: blue; */
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}

.div-p-footer-main-total{
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
}

.p-footer-main-revenue{
    margin-left: 1vw;
}
.p-footer-main-total{
    background-color: rgba(243, 56, 56, 0.63);
    padding: 0.2vw;
    border-radius: 5px;
}

.ico-footer{
    margin-left: 1vw;
    margin-right: 1vw;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    padding: -100px;
}

/*Barra de Rolagem*/

::-webkit-scrollbar-track {
    background-color: #353535;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #c7c7c7;
}

::-webkit-scrollbar-thumb{
    background: #424242;
    border-radius: 15px;
    border: 1px solid #FF0000;
}
