

/* --------------------------------Cabeçalho--------------------------------*/

.header-main{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 11px;
    opacity: 50%;
}

.p-itens-header-main{
    padding-top: 8px;
}















/* --------------------------------List---------------------------------*/

.releases-main{
    display: flex;
    height: 100%;

}

.list-releases-main{
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 10px;
    width: 100%;
    
    
}

.li-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    /*------------*/
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 8px;
    font-size: 10px;
}

.li-container:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.li-container-item{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    margin-right: 2.8vw;/*Retirar*/
}

.type-span-li-container{
    margin-right: 6.5vw;
}

.date-span-li-container{
    margin-right: 6.5vw;
    margin-left: 1vw;
}
.name-span-li-container{
    margin-right: 10vw;
    margin-left: -9vw;
}
.btn-span-li-container{
   display: flex;
   justify-content: flex-start;
}

.img-trash{
    width: 2vw;
    height: 4vh;
    margin-left: 5px;
    margin-top: 5px;
    padding: 2px;
    border-radius: 5px;
}

.img-trash:hover{
    background-color: rgb(255, 126, 126);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 1px 1px 1px rgba(0, 0, 0, 0.25);
}






/* --------------------------------Bottton---------------------------------*/
.footer-main{
    display: flex;
    justify-content: space-between;
    /* background: red; */
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
}

.div-p-footer-main{
    display: flex;
    align-items: center;
    /* background: blue; */
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}

.div-p-footer-main-total{
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
}

.p-footer-main-revenue{
    margin-left: 1vw;
}

.ico-footer{
    margin-left: 1vw;
    width: 30px;
    height: 30px;
    background-color: rgb(20, 252, 20);
}

